[defaults]
inventory = /root/ansible/inventory/inventory.ini
roles_path = /root/ansible/roles

# Record every Ansible run
log_path = /root/ansible/ansible.log

# DISA's callback that writes an XCCDF report of the playbook results
callback_plugins = /root/ansible/roles/rhel9STIG/callback_plugins
callbacks_enabled = stig_xml